## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Pre-compiled MATLAB files
*.asv

## Pycharm project .idea files
*.idea

## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## Please don't upload our data...
dane/
dane_recon/

## Cython compilation files and directiories
*.html
*.c
*.pyd
build/